<head>
    <title>hi</title>
  </head>
<div class="container">
 <ol>
      <li><%=link_to 'about me',:about_me%></li>
      <li><a href="#imag">imag</a></li>
      <li><a href="#study_and_work">study and work</a></li>
      <li><a href="#my_fevorite _hobbies">my fevorite hobbies</a></li>
      <li><a href="#call_me">call me</a></li>
   </ol>
</div>
 <center>
   <div id="imag">
     <img < src="/assets/bakri.jpeg"  class="img-circle" style="width:354px;height:450px;"/>
   </div>
 </center>
 </div>
