<head>
    <title>hi</title>
  </head>
<div class="container">
 <ol>
      <li><%=link_to 'about me',:about_me%></li>
      <li><%=link_to 'study_and_work',:study and work%></li>
      <li><%=link_to 'my_fevorite _hobbies',:my fevorite hobbies%></li>
      <li><%=link_to 'call_me',:call me%></li>
   </ol>
</div>
 <center>
   <div id="imag">
     <img < src="/assets/bakri.jpeg"  class="img-circle" style="width:354px;height:450px;"/>
   </div>
 </center>
 </div>
