<head>
    <title>hi</title>
  </head>
<div class="container">
  <div id="lovly" class="col-lg-4">
    <ol>
      <li><a href="#name">name</a></li>
      <li><a href="#imag">imag</a></li>
      <li><a href="#love">love</a></li>
      <li><a href="#foto">foto</a></li>
      <li><a href="#like">like</a></li>
   </ol>
</div>
<div id="name">
               <h1 style="color:red;">  bakri kamurgi</h1>

             <h2>i am from syria<br>
                iam heir from one year</h2>

</div>
<div id="imag">
  <img < src="/assets/bakri.jpeg"  class="img-circle" style="width:354px;height:450px;"/>
  <img < src="http://www.focolare.org/usa/files/2013/05/Law.jpg" class="img-rounded" style="width:304px;height:350px;"/>
  <iframe width="454" height="480" src="https://www.youtube.com/embed/s8lrs9Jt4w8" frameborder="0" allowfullscreen></iframe>

  
  <a href="mailto:bakri@gmx.net">contact with me</a>
  <a href="https://www.facebook.com/bakriaboyahya.km">facbook
  </a>
  <style>
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}
</style>
</div>
<div id="love" class="col-lg-8">
  <ul>
   <li>Coffee</li>
   <li>Tea</li>
   <li>Milk</li>
   <li>books</li>
   <li>musik</li>
  </ul>
</div>
<div id="foto">
  <img src="https://media.fastly.picmonkey.com/django/blog_thumbnails/basic-photo-editing-6PACK-6918ab.jpg
  "/>
</div>
<div id="like">
  <h1>kolor</h1>
  <h2>books</h2>
  </div>
</div>
