<head>
    <title>hi</title>
  </head>
<div class="container">
 <ol>
      <li><a href="#about me">about me</a></li>
      <li><a href="#imag">imag</a></li>
      <li><a href="#study and work">study and work</a></li>
      <li><a href="#my fevorite hobbies">my fevorite hobbies</a></li>
      <li><a href="#call me">call me</a></li>
   </ol>
</div>
<center>
<div id="imag">
  <img < src="/assets/bakri.jpeg"  class="img-circle" style="width:354px;height:450px;"/>
</div>
</center>


<div id="my fevorite hobbies">
  <h>my fevorite hobbies</h>
           <h1>reading books and novels</h1>
           <h2>slow music - opera </h2>
           <h3>sport</h3>
           <h4>action movies</h4>
</div>
<div id="call me">
  <h>communicate with me by</h>
  <h1> <a href="mailto:bakri@gmx.net">sent massege </a></h1>
  <h2> <a href="https://www.facebook.com/bakriaboyahya.km">visit me on facebook</a>
  <style>
a:link    {color:green; background-color:transparent; text-decoration:none}
a:visited {color:pink; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:yellow; background-color:transparent; text-decoration:underline}
</style>
  </div>
 </div>
