<div id="study_and_work">
  <h>STUDY AND WORK</h>
           <p>i finished high school in 1998</p>
           <p>i studied at the faculty of law at the arab university of beirut in lebanon in 1999</p>
           <p>i studied at the faculty of law at alexandria university in 2000/2001</p>
           <p>i returned to the university of aleppo and finished studying in 2006</p>
           <p>i worked as a lawyer in the courts of aleppo in 2006/2015</p>
</div>
